@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");

$item-border-width: 2px;

$coral: #008cff;
$charcoal: #5f5f5f;
$fog: #978e8e;
$almost-dark: #313131;
$watery-blue: #bbecff;
$sunny-delight: #ffb778;
$rose: #ff9a9a;

$clocked-in-color: $charcoal;
$clocked-in-text: $almost-dark;
$clocked-out-color: $fog;
$selected-color: $watery-blue;
$heading-color: $watery-blue;
$heading-shape: $charcoal;
$heading-background: $watery-blue;
$button-color: $sunny-delight;
$user-message-border: $charcoal;
$error-color: $rose;
$clock-hands: $charcoal;
$loading-text: $charcoal;

$main-font: "Cairo", sans-serif;
$title-font: "Monoton", sans-serif;

body {
  font-family: $main-font;
  font-size: 1.1rem;
}

h1 {
  font: normal 2.5rem $title-font;
  color: $heading-color;
  padding: 0.2rem 2rem;
  margin: 0;
  border-radius: 5px;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.loading-text {
  font-size: 2rem;
  align-self: center;
  margin-right: 1rem;
  color: $loading-text;
}

.loading-circle {
  position: relative;
  align-self: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid $clock-hands;
}

.hours {
  background: $clock-hands;
  height: 30%;
  left: 49%;
  position: absolute;
  top: 20%;
  transform-origin: 50% 100%;
  width: 2%;
}

.minutes {
  background: $clock-hands;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

.hours {
  animation: rotate 12s infinite linear;
}
.minutes {
  animation: rotate 2s infinite linear;
}

.error {
  margin: 2rem 0;
  padding: 1rem;
  border: 2px solid $error-color;
  border-radius: 5px;
  text-align: center;

  svg {
    color: $error-color;
  }
}

.error-message {
  margin: 0 1rem;
}

.heading-shape {
  background-color: $heading-shape;
  border-radius: 5px 5px 0 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, calc(100% - 50px) 100%, 0% 100%);
}

.heading-background {
  background-color: $heading-background;
  padding-bottom: 10px;
  border-radius: 5px;
}

.container {
  margin: 30px 50px;

  @media (max-width: 700px) {
    margin: 10px 10px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  margin: 4rem 0;

  &:focus {
    outline: blue;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". item-name item-logos";

  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;

  input,
  label {
    cursor: pointer;
  }
}

.selected {
  background-color: $selected-color;
  animation: 0.2s clicky ease-out;
}

.item-name {
  grid-area: item-name;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-logos {
  grid-area: item-logos;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}

.svg-inline--fa {
  animation: 0.5s showy ease-out;
}

.outside-office-logo {
  justify-self: end;
}

.message-logo {
  justify-self: start;
}

.clocked-in {
  color: $clocked-in-text;
  border: $item-border-width solid $clocked-in-color;

  transition: all 0.3s linear;
}

.item-logos {
  color: $clocked-in-color;
}

.clocked-out {
  color: $clocked-out-color;
  border: $item-border-width solid transparent;
  transition: all 0.3s linear;
}

.form-area {
  display: grid;
  grid-template-areas:
    "buttons"
    "message-input"
    "message-box";
  row-gap: 1rem;

  @media (min-width: 1000px) {
    width: 70%;
    margin: 0 auto;
  }

  @media (min-width: 1550px) {
    grid-template-areas:
      "buttons message-input"
      "message-box message-box";
  }
}

input {
  -webkit-appearance: none;
}

input[type="radio"],
input[type="radio"]:checked,
input[type="radio"]:active {
  outline: none;
  opacity: 0;
}

.buttons {
  grid-area: buttons;
  text-align: center;

  @media (max-width: 449px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.button,
input[type="submit"] {
  padding: 0.5rem 2rem;
  border: 2px solid $button-color;
  border-radius: 5px;
  background-color: rgba($button-color, 0.4);
  font-family: $main-font;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: rgba($button-color, 0.2);
  }
}

.button {
  @media (min-width: 450px) {
    min-width: 10rem;
    margin: 1rem;
  }
}

.button[disabled] {
  border: 2px solid rgba($button-color, 0.4);
  background-color: white;
  cursor: default;
}

.message-input {
  grid-area: message-input;
  text-align: center;

  @media (max-width: 700px) {
    margin: 2rem 0;
  }
}

.message-input form {
  @media (max-width: 700px) {
    display: inline-grid;
  }
}

#message-textbox {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: $main-font;
  font-size: 1rem;

  @media (max-width: 700px) {
    margin: 1rem 0;
  }

  &:disabled {
    background-color: rgb(233, 223, 223);
  }
}

#message-textbox[disabled] {
  border: 1px solid rgb(168, 168, 168);
  background-color: rgb(226, 226, 226);
}

.user-message {
  grid-area: message-box;
  animation: 0.3s showy ease-out;
}

.bubble {
  position: relative;
  padding: 1rem;
  margin-bottom: 4rem;
  background: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: $user-message-border solid 2px;
}

.bubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 27px 12px 0;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -27px;
  left: 12px;
}

.bubble:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 28px 13px 0;
  border-color: $user-message-border transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -30px;
  left: 11px;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

@keyframes clicky {
  0% {
    transform: scale(0.93);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes showy {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
